<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="Applitools Design Comparison Tool" parallel="tests" data-provider-thread-count="1">
    <!-- GLOBAL CONFIG -->

    <parameter name="APIKey" value=""/>


    <!-- SetBaselines | ValidateDesigns | RunChecks -->
    <parameter name="Mode" value="RunChecks"/>

    <parameter name="BatchName" value="Test Batch"/>
    <parameter name="AppName" value="12"/>
    <parameter name="DesignSource" value="URL"/>
    <parameter name="ImageLoaderBaseURL" value="http://localhost:9000/loadimage.html"/>

    <parameter name="WaitBeforeScreenshots" value="0" />

    <!-- Local Execution Config -->
    <parameter name="ChromeDriverLocation" value="C:/selenium/chromedriver.exe"/>
    <parameter name="GeckoDriverLocation" value="C:/selenium/geckodriver.exe"/>
    <parameter name="LocalBrowserToUse" value="Chrome"/>
    <parameter name="LocalViewportSize" value="1200x600"/>

    <!-- Cross Browser Config -->
    <parameter name="CrossBrowser" value="true"/>
    <parameter name="Browsers" value="Chrome;Chrome-1;Firefox;Firefox-1"/>
    <parameter name="Viewports" value="1200x800;800x600"/>

    <test name="Design Comparison">
        <classes>
            <class name="DesignComparison" />
        </classes>
    </test>
</suite>
